spacy==2.3.5
gensim==3.8.3
pywin32==300
textblob==0.15.3
matplotlib==3.3.3
wordcloud==1.8.1
streamlit==0.75.0
numpy==1.19.5
brotli==1.0.9
cryptography==3.3.1
Cython==0.29.21
docutils==0.16
importlib_metadata==3.4.0
ipaddr==2.2.0
keyring==22.0.1
lockfile==0.12.2
lxml==4.6.2
mypy_extensions==0.4.3
neattext==0.1.0
ordereddict==1.1
protobuf==3.14.0
pyOpenSSL==20.0.1
typing_extensions==3.7.4.3
wincertstore==0.2
zipp==3.4.0
